.nav {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.page-header {
  font-family: 'Raleway', sans-serif;
}


body {
  margin-top: 30px;
}

h1.title {
  font-family: 'Raleway', sans-serif;
  padding: 0 30px 30px 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

table {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

#MoreSoon {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: gray
}

#Enjoy {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: purple
}
